.card_main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: rgba(245, 222, 179, 0.285);
}
.content_title {
    width: 100%;
    height: auto;
    text-align: start;
    border: 1px solid rgb(255, 0, 162);
    padding: 1%;
}
@media (max-width: 768px) {}
/*============== Scren 425=============*/
@media (max-width: 428px) {
    .content_title{
        font-size: 2.5rem;
        text-align: center;
        height: 100%;


    }
}
/*============== Scren 375=============*/
@media (max-width: 375px) {}