.home_main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  margin-top: 10vh;
  background-color: black;
}
.container_titles {
  width: 100%;
  height: ;
  min-height: 100vh;
  background-color: azure;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.title {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

/*============== Scren 1440 =============*/
@media (max-width: 1440px) {
}
/*============== Scren 1080 =============*/
@media (max-width: 1080px) {
}
/*============== Scren 1024=============*/
@media (max-width: 1024px) {
}
/*============== Scren 770=============*/
@media (max-width: 768px) {
}
/*============== Scren 425=============*/
@media (max-width: 428px) {
}
/*============== Scren 375=============*/
@media (max-width: 375px) {
}
/*============== Scren 320=============*/
@media (max-width: 320px) {
}
