.home_main{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    border: 1px solid black;
    padding: 4% 6%;
    gap: 2%;
    margin-top: 4%;
    background-color: black;
}
.container_titles{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 5rem;
    max-height: 20%;
    background-color: azure;
}

/*============== Scren 1440 =============*/
@media (max-width: 1440px) {}
/*============== Scren 1080 =============*/
@media (max-width: 1080px) {}
/*============== Scren 1024=============*/
@media (max-width: 1024px) {
    .home_main{
        margin-top: 7%;
    }
}
/*============== Scren 770=============*/
@media (max-width: 768px) {
 .container_titles{
    height: 50%;
    max-height: 1rem;
 }
}
/*============== Scren 425=============*/
@media (max-width: 425px) {
    .home_main{
        margin-top: 15%;
    }
    .container_titles {
        max-height: 5rem;
    }
}
/*============== Scren 375=============*/
@media (max-width: 375px) {
    .home_main{
        margin-top: 17%;
    }
}
/*============== Scren 320=============*/
@media (max-width: 320px) {
    .home_main{
        margin-top: 20%;
    }
}