/*contenedor principal menu*/
.menu_main {
  background-color: aqua;
  width: 100%;
  display: block;
  height: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
/*contenedor del munu*/
.content_menu {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  background-color: antiquewhite;
  background-position-x: 60%;
  background-size: cover;
  position: relative;
}
/*contenedor del componente card*/
.container_card {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  bottom: 0;
  left: 0;
  width: 50%;
  max-height: 30%;
  height: auto;
  border: 1px solid rgb(95, 38, 38);

}
.container_title{
  position: absolute;
  top: 1%;
  display: flex;
  right: 5%;
  background-color: rgba(240, 248, 255, 0.497);
  width: 90%;
  height: 15%;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 140%;
  padding: 1% 2%;
  backdrop-filter: blur(2px);
  border-radius: 5%;
  text-shadow: 0 0 1px black;
}

@media (max-width: 768px) {}
/*============== Scren 425=============*/
@media (max-width: 428px) {
  .category{
    padding: 5%;
    bottom: 0;
    right: 0
  }

}
/*============== Scren 375=============*/
@media (max-width: 375px) {}