.submenu_main{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    border: 1px solid black;
    padding: 4% 6%;
    gap: 2%;
    margin-top: 4%;
    overflow-y: auto;
    background-color: rgb(87, 34, 34);
}
.container_submenu{
    border: 1px solid black;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 3rem;
    max-height: 10rem;
    background-color: azure;
}


/*============== Scren 1440 =============*/
@media (max-width: 1440px) {}
/*============== Scren 1080 =============*/
@media (max-width: 1080px) {}
/*============== Scren 1024=============*/
@media (max-width: 1024px) {
    .submenu_main{
        margin-top: 7%;
    }
}
/*============== Scren 770=============*/
@media (max-width: 768px) {
 .container_submenu{
    height: 50%;
 }
}
/*============== Scren 425=============*/
@media (max-width: 425px) {
    .submenu_main{
        margin-top: 15%;
        gap: 1%;

    }
    .container_submenu {
        max-height: 5rem;
    }
}
/*============== Scren 375=============*/
@media (max-width: 375px) {
    .submenu_main{
        margin-top: 17%;
    }
}
/*============== Scren 320=============*/
@media (max-width: 320px) {
    .submenu_main{
        margin-top: 20%;
    }
}